#main {
    width: 800px;
    margin: auto;
  }

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Arial';
    padding-left: 12px;
    padding-top: 8px;
    text-decoration-skip: ink;
  }

  .pull-right {
    float:right;
    margin-top: 9px;
  }

.title{
    font-weight: bold;
    font-size: 20px
}


a {
    color: #8a5ed3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .nounderline {
    text-decoration: none !important;
  }